@model IEnumerable<TELCO.Models.BD.GENEROS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-weight: 600">Catálogo de Géneros</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <button onclick="location.href='@Url.Action("Create", "GENEROS")';return false;" id="pbutton" type="button" class="btn btn-primary" )>Agregar nuevo</button>
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.cod_genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txt_genero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.cod_genero)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.txt_genero)
    </td>
    <td>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="Editar" href='@Url.Action("Edit", "GENEROS", new { id = item.cod_genero })'><img src="~/Images/DIM/edit2.png" style="width:40px;height:40px" /></a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="Eliminar" href='@Url.Action("Delete", "GENEROS", new { id = item.cod_genero })'><img src="~/Images/DIM/del3.png" style="width:40px;height:40px" /></a>
    </td>
</tr>
}

</table>
